<!-- <main class="min-h-screen bg-slate-950 p-8">

  <h1 class="mb-8 text-3xl font-bold text-white">
    Angular 19 CRUD
  </h1>

  <app-input-demo
    [product]="{
      id: 1,
      name: 'Teclado mecánico',
      price: 89990
    }"
  />

  <app-output-demo
    (productDeleted)="onProductDeleted($event)"
  />

  <div class="rounded-lg bg-slate-800 p-6 text-white">

    <h2 class="mb-4 text-xl font-bold">
      Componente Padre
    </h2>

    <p>
      Nombre:
      <span class="font-bold">
        {{ name }}
      </span>
    </p>
    <app-model-demo
      [(value)]="name"
    />

  </div>

  <app-product-list
   [products]="products"
  />

</main>

<router-outlet /> -->

<div class="min-h-screen bg-slate-950 flex items-center justify-center">

  <div class="text-center">

    <h1 class="text-5xl font-bold text-white">
      Angular 19 CRUD
    </h1>

    <app-product-list
      [products]="products"
      (edit)="onEditProduct($event)"
      (delete)="onDeleteProduct($event)"
    />

    <app-product-form
      [productToEdit]="selectedProduct"
      (finished)="onFormFinished()"
    />

    <p class="mt-4 text-lg text-slate-400">
      Angular Evolution Lab
    </p>

  </div>

</div>

<router-outlet />